
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Actual File Start*/

body{
  background-color: #303030;
}

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toolbardiv{
  width: 100%;
  height: auto;
  border-bottom: 4px outset #050505;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  position: sticky;
  left: 0;
  top:-0.1px;
  background-color: #333333;
}
#toolbartext{
  grid-column: 2/3;
  align-self: center;
  text-align: center;
}

/*Logo Div Conditional Styling*/
@media screen and (min-width: 700px) {
	#logodiv{
	  display: grid;
	  grid-template-columns: auto auto;
	  width: 100vw;
	  height: 40vh;
	  grid-gap: 5%;
	  background-color: #202020;
	  border-bottom: 8px groove #101010;
	  justify-content: space-evenly;
		-webkit-user-select:none;
		-moz-user-select:none;
		user-select:none;
	}
	#MainLogoImage{
		grid-column: 1/2;
	  align-self: center;
	  height: min(38vh,38vw);
	}
	#logotextdiv{
		grid-column: 2/3;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
		justify-content: center;
	}
	#MainLogoText{
	  font-size: 7vw;
	  margin:5vh;
	}
	#SubLogoText{
	  font-size: 2.5vw;
	  color:white;
	  font-family: Hack;
		margin-bottom: 4vh;
	}
}

@media screen and (max-width: 700px) {
	#logodiv{
	  display: grid;
	  grid-template-rows: auto auto;
	  width: 100vw;
	  height: auto;
	  grid-gap: 2%;
	  background-color: #202020;
	  border-bottom: 8px groove #101010;
  	justify-items: center;
		-webkit-user-select:none;
		-moz-user-select:none;
		user-select:none;
	}
	#MainLogoImage{
	  align-self: center;
	  height: 20vh;
	}
	#logotextdiv{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
	#MainLogoText{
	  font-size: 10vw;
	  margin:1vh;
	}
	#SubLogoText{
	  font-size: 5vw;
	  color:white;
	  font-family: Hack;
		margin-bottom: 3vh
	}
}


#contentdiv{
  width: 100%;
}

#coursediv{
	background-color: #131313;
	display: none;
}

#coursesbutton{
	align-self: left;
	display: grid;
	width: 90px;
	grid-template-columns: auto auto;
	justify-content: left;
	margin:3px;
	font-family: Hack;
	background-color: #404040;
	border:2px solid #202020;
	border-radius: 30px;
	color:white;
	outline: none;
}

#coursesbuttonarrow{
	margin-right: -37px;
}

#courseviewermaindiv{
	display: grid;
	width: 100%;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
	grid-gap: 5vw;
	margin: 5px;
	border-top: 5px ridge #999999;
	border-bottom: 5px ridge #999999;
}

#courseguidediv{
	grid-column: 1/2;
	width: min(auto,100vw);
	display: flex;
	margin:10px;
	border:4px solid grey;
	flex-direction: column;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	color: white;
	padding:5px
}

#languagetitle{
	font-family: Hack;
	font-size: 30px;
	margin: 10px;
	padding:3px;
	border-left: 3px solid black;
	border-right: 3px solid black;
}
#listnestdiv > div > h3{
	margin:3px;
	padding:3px;
	border-top: 2px solid #BBBBBB;
	border-bottom: 2px solid #BBBBBB;
}
#listnestdiv > div > ul{
   list-style-type: square;
	 margin-left:20px;
	 padding-top:3px;
	 padding-bottom:3px;
}

#coursedisplaydiv{
	background: white;
	border: 5px solid #4545454;
	border-radius: 10px;
	padding: 15px;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#coursesdisplaydiv > *{
	margin-top: 20px;
	margin-bottom: 20px;
}
#coursedisplaydiv ul{
	list-style-type: square;
	margin-left: 5px;
}

.noncurrentsubsection{
	font-family: Hack;
	padding-top: 3px;
	padding-bottom: 3px;
}
.currentsubsection{
	font-family: Hack;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #AAAAAA;
	border: 2px solid #999999;
	border-radius: 5px;
}
.noncurrentsection{
	font-family: Hack;
}
.currentsection{
	font-family: Hack;
	background-color: blue;
}

#coursedisplaydiv{
		grid-column: 2/3;
		padding:16px;
}

	/* Animation Classes*/
@keyframes fadeoutdown {
  0%   {opacity: 1; top:0px;}
  100% {opacity: 0; top:100vh;}
}

@keyframes fadeinup {
  0%   {opacity: 0; top:100vh;}
  100% {opacity: 1; top:0px;}
}

@keyframes rotatedown{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(90deg);}
}

@keyframes rotateup{
	0% {transform: rotate(90deg);}
	100% {transform: rotate(0deg);}
}

.rotatedown{
	animation-name: rotatedown !important;
	animation-duration: 2s !important;
}

.rotateup{
		animation-name: rotateup !important;
		animation-duration: 2s !important;
}

.fadeoutdown{
	position: relative !important;
	animation-name: fadeoutdown !important;
	animation-duration: 1s !important;
}

.fadeinup{
	position: relative !important;
	animation-name: fadeinup !important;
	animation-duration: 2s !important;
}
